{% extends "base.html.twig" %}
{% block title %}Star70{% endblock %}
        {% block main%}
            <main class="main">
                {#  je declare une boucle for . qui itere sur starDisco a l'aide de 'element '       #}
                {% if age >= 18 %}
                    {% for element in starDisco %}
                        <div class="cards">
                            <div class="img"><img src="{{ element.img }}" alt="" class="resp"></div>
                            <div>
                                {#je viens chercher la kley de mon tableau starDisco avec element.nom pour aficher sa valeur , le nom de la personne#}
                                <h1>{{ element.nom }}</h1>
                            </div>
                            <div>
                                <h2>{{ element.age }}</h2>
                            </div>
                            <div>
                                <p>{{ element.bio }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="messageTPetit">
                        <div class="tenor-gif-embed" data-postid="7939307" data-share-method="host" data-width="30%" data-aspect-ratio="0.8156028368794326">
                            <a href="https://tenor.com/view/diabolo-satanas-rire-laughing-gif-7939307">Diabolo Satanas GIF</a> from <a href="https://tenor.com/search/diabolo-gifs">Diabolo GIFs</a>
                        </div>
                        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
                        <h3>Du bist zu klein, um die gute Musik zu hören..</h3>
                    </div>
                {% endif %}
            </main>
        {% endblock %}
        {% block footer %}
            {% include "Base/_footerContact.html.twig" %}
        {% endblock %}
