<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
{#    j appel les function twig pour cree la condition if#}
        {% if display == true %}
{#      retourne false . j integre la string de la variable twig.#}
            <h2> Le vin {{ vin }}</h2>
        {% endif %}
    </body>
</html>
