<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <style>
            body{
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }
            #header{
                background-color: #5eb5e0;
                height: 100px;
            }
            #main{
                text-align: center;
                margin: 20px;

            }
            #footer{
                background-color: #565656;
                height: 50px;
            }
        </style>
    </head>

    <body>
        <header id="header">

        </header>
        <main id="main">
            <img src="https://download.vikidia.org/vikidia/fr/images/thumb/e/ed/Canis_lupus_couch%C3%A9.jpg/250px-Canis_lupus_couch%C3%A9.jpg" alt="">
            <p >Le loup a 42 dents exerçant une pression de 150 kg par cm² contre 60 pour le chien.
                Il mange de la viande crue ; c'est un carnivore. Comme il a des griffes, des dents et un
                système digestif qui lui permettent de se nourrir de chair crue, on dit aussi que c'est un carnassier.
                Avec ses mâchoires puissantes, il peut manger des oiseaux, des lapins, de petits rongeurs,
                des moutons, des cerfs, des sangliers, etc.. Bien qu'ils soient carnivores, les loups se nourrissent
                aussi parfois de raisin, qui leur apporte du sucre et des vitamines. Un loup affamé peut
                également manger des insectes ou encore des champignons. Il peut être à l'occasion charognard
                (il mange des animaux morts).</p>

        </main>
        <footer  id="footer">

        </footer>
    </body>
</html>